<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keyi.db_goods.mapper.ClientMapper">
    <resultMap id="getClientAll" type="com.keyi.db_goods.entity.Client">
        <id property="cid" column="cid"/>
        <result property="client_id" column="client_id" javaType="java.lang.Integer"/>
        <result property="client_name" column="client_name" javaType="java.lang.String"/>
        <result property="client_mobile" column="client_mobile" javaType="java.lang.String" />
    </resultMap>

    <!--1、增加-->
    <insert id="insert" parameterType="com.keyi.db_goods.entity.Client">
        INSERT INTO `clients`(`client_id`,`client_name`,`client_mobile`)
            VALUES(#{client_id},#{client_name},#{client_mobile})
    </insert>

    <!--2、删除-->
    <delete id="delete">
        DELETE FROM clients
        WHERE client_id = #{client_id}
    </delete>

    <!--3、修改-->
    <update id="update" parameterType="com.keyi.db_goods.entity.Client">
        UPDATE `clients`
        SET
        <if test="client_name != null">
            client_name = #{client_name},
        </if>
        <if test="client_mobile != null">
            client_mobile = #{client_mobile}
        </if>
        WHERE
        client_id = #{client_id}
    </update>

    <update id="incrementReset">
        ALTER TABLE clients AUTO_INCREMENT = 1
    </update>

    <!--4、查询-->
    <select id="getClientAll" resultMap="getClientAll">
        SELECT *
        FROM clients
        WHERE client_name like concat('%', #{client_name}, '%')
        limit #{pageNum}, #{pageSize}
    </select>

    <select id="isExitById" resultType="java.lang.Integer" parameterType="java.lang.Integer">
        SELECT COUNT(*)
        FROM clients
        WHERE client_id = #{client_id}
    </select>

    <select id="clientTotalNum" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM clients
    </select>
</mapper>