<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keyi.db_goods.mapper.GoodMapper">
    <!--1、增加-->
    <insert id="insert" parameterType="com.keyi.db_goods.entity.Good">
        INSERT INTO `goods`(`good_id`, `good_name`, `good_price`)
        VALUES(#{good_id},#{good_name},#{good_price})
    </insert>
    <!--2、删除-->
    <delete id="deleteById">
        DELETE FROM goods
        WHERE good_id = #{good_id}
    </delete>

    <delete id="deleteByName">
        DELETE FROM goods
        WHERE good_name = #{good_name}
    </delete>
    <!--3、修改-->
    <update id="update" parameterType="com.keyi.db_goods.entity.Good">
        UPDATE `goods`
        SET
        <if test="good_name != null">
            good_name = #{good_name},
        </if>
        <if test="good_price != null">
            good_price = #{good_price}
        </if>
        WHERE
        good_id = #{good_id}
    </update>

    <update id="incrementReset">
        ALTER TABLE goods AUTO_INCREMENT = 1
    </update>

    <!--4、查询-->
    <resultMap id="getGoodAll" type="com.keyi.db_goods.entity.Good">
        <id property="good_id" column="good_id"/>
        <result property="good_name" column="good_name" javaType="java.lang.String"/>
        <result property="good_price" column="good_price" javaType="java.lang.Double"/>
    </resultMap>
    <select id="getGoodAll" resultMap="getGoodAll">
        SELECT `good_id`, `good_name`, `good_price`
        FROM goods
    </select>

    <select id="TotalNum" resultType="java.lang.Integer" parameterType="java.lang.Integer">
        SELECT COUNT(*)
        FROM goods
    </select>

    <resultMap id="selectPage" type="com.keyi.db_goods.entity.Good">
        <id property="good_id" column="good_id"/>
        <result property="good_name" column="good_name" javaType="java.lang.String"/>
        <result property="good_price" column="good_price" javaType="java.lang.Double"/>
    </resultMap>
    <select id="selectPage" resultMap="selectPage">
        SELECT *
        FROM goods
        LIMIT #{pageNum}, #{pageSize}
    </select>

    <select id="isExistByName" resultType="java.lang.Integer" parameterType="java.lang.String">
        SELECT COUNT(*)
        FROM goods
        WHERE good_name = #{good_name}
    </select>

    <select id="isExistById" resultType="java.lang.Integer" parameterType="java.lang.Integer">
        SELECT COUNT(*)
        FROM goods
        WHERE good_id = #{good_id}
    </select>
</mapper>